.div-projects {
    background-color: #132033;
    overflow: hidden;
    padding: 20px;
}

.card {
    background-color: #09162B;
    border: 1px solid white;
    margin-bottom: 5%;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0; /* Inicia invisível */
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Animação quando entra na tela */
.card-projects-anime-leftToRight {
    opacity: 1;
    transform: translateX(0);
    animation: leftToRight 1s ease-in-out forwards;
}

.card-projects-anime-rightToLeft {
    opacity: 1;
    transform: translateX(0);
    animation: rightToLeft 1s ease-in-out forwards;
}

.card-header {
    padding: 0;
}

.card-description {
    color: white;
    max-height: 40vh;
    padding: 5%;
    overflow-y: auto;
}

.video-responsive {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.link-code {
    color: white;
    text-decoration: none;
}

/* Definição das animações */
@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
