#offline-resources{
  display: none;
}
.runner-container {
height: 150px;              
overflow: hidden;
position: relative;
top: 0;
width: 44px;
z-index: 2;
}

#options {
position: relative;
top: 250px;
left: 50px;
display: flex;
align-items: center;
z-index: 5;
}
#options > span {
margin-left: 10px;
margin-right: 50px;
}
#botStatus {
width: 20px;
height: 20px;
margin-right: 10px;
}
#buttons {
position: relative;
top: 250px;
right: 50px;
display: flex;
align-items: center;
}